<div id="<%= dom_id house %>">
  <p>
    <strong>Name:</strong>
    <%= house.name %>
  </p>

  <p>
    <strong>Photo:</strong>
    <%= house.photo %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= house.price %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= house.location %>
  </p>

</div>
